/* All odd-numbered <p> elements share this class */
.odd {
  background-color: rgb(255, 182, 193);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

/* Second element - unique ID */
#second {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

/* Third element has an extra class to increase font size */
.large {
  font-size: 24px;
}

/* Fourth element - unique ID */
#fourth {
  background-color: rgb(145, 238, 145);
  font-size: 24px;
  font-weight: bold;
}